<h1>Editing E Data Keagamaan Katolik</h1>

<%= render 'form', e_data_keagamaan_katolik: @e_data_keagamaan_katolik %>

<%= link_to 'Show', @e_data_keagamaan_katolik %> |
<%= link_to 'Back', e_data_keagamaan_katolik_index_path %>
